body {
background-color: #BFC3BA; /* Light sage background */
}

.main-nav { 
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    position: relative;
}

.nav-menu {
    display: flex;
    gap: 2em;
   list-style: none;
}

 /* style links */

.nav-toggle {
        display: none;
    }

 @media screen and (max-width: 768px) {
    .nav-toggle {
        display: flex;
        justify-content: center;
        align-content: center;
        align-self: center;
        flex-direction: column;
    }

    .hamburger {
        background-color: black;
        height: 6px;
        width: 40px;
        padding: 0;
        margin: 3px;
    }
   
    .nav-menu{
        display: none;
        position: absolute;
        top: 100%;
        right: 20px;
        background-color: white;
        border: 1px solid #ccc;
        flex-direction: column;
        gap: 0;
        min-width: 200px;
        
    }

    .nav-menu.show {
        display: flex;
    }
    
    .nav-menu li {
        padding: 15px 20px;
        border-bottom: 1px solid #eee;
    }
 }